<br />

<h1>Showing Books for Category: <%= @category.category_name %></h1>

<% @category.books.each do |book| %>
  <div style="display:flex; flex-direction: row;">
    <div style="flex:0.2">
      <div style="margin-top: 5%"></div>
      <%= image_tag book.book_image_link, style: "width:20vw;height:50vh;"%>
      <div style="margin-top: 5%"></div>      
    </div>
    <div style="flex:0.1"></div>
    <div style="flex:0.7; display: flex; flex-direction: column;">
      <div style="flex:0.9; margin-top: 2%">
        <h5 class="text-primary"><%= book.book_name %></h5>
        <p class="text-muted"><%= book.book_description %></p>
        <p class="text-muted">By: <strong><%= book.book_author %></strong></p>
      </div>
      <% if admin_signed_in? %>
        <div style="flex: 0.1; flex-direction: row; align-items: space-between;">
          <%= link_to book_path(book) do %>
            <button class="btn btn-outline-primary">View <%= book.book_name%></button>
          <% end %>
          <%= link_to edit_book_path(book) do %>
            <button class="btn btn-outline-primary">EDIT BOOK</button>
          <% end %>
          <%= link_to book_path(book), :method => 'delete', data: { confirm: "Do you want to delete #{book.book_name}" } do %>
            <button class="btn btn-outline-primary">DELETE BOOK</button>
          <% end %>          
        </div>
      <% else %>
        <div style="flex: 0.1; flex-direction: row">
          <div style="width: 98%; align-items: flex-end;">
            <%= link_to book_path(book), :class => "d-grid gap-2" do %>
              <button class="btn btn-lg btn-primary">View <%= book.book_name%></button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div style="border-bottom: 1px solid black; width: 100vw; margin-left: -9%; margin-top: 1%"></div>
<% end %>

<!--
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
-->